# MacOS & Windows temp
.DS_Store
Thumbs.db

# Node / Front-end
node_modules/
dist/
build/

# Environment files
.env
.env.local
.env.*.local

# VS Code settings
.vscode/

# IntelliJ / JetBrains
.idea/
*.iml
*.iws
*.ipr

# Java / Maven
target/
*.class
*.jar
/*.war

# Misc logs
*.log
